/* se importa para el uso de icon de boostrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* padding: 20px;
    margin: 50px; */
    color: white;
    /* background: linear-gradient(#a7bfc7 0%,#a7bfc7 25% ,#87a1ab 50%,#547071 75%,#c8dfe2 100%); */
    background-image: linear-gradient(to right bottom, #35b2be, #5abaa2, #8bbc86, #bbba76, #e7b47d);
}

/* estilos header y navbar */
header{
    width: 100%;
    height: auto;
    background: transparent;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
}

.style-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
    padding: 20px;
}

.style-nav div a{
    color: white;
    transition: font-size 0.5s;
    cursor: pointer;
    margin-right: 50px;
    text-decoration: none;
}

.style-nav div a:hover{
    font-size: 1.2rem;
}

/* estilos seccion sobre mi-img */
#seccion-img {
    display: flex;
    align-items: center;
    margin: 80px;
    width: 80%;
}

.cont-medida{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    gap: 100px;
}
.cont{
    display: flex;
    justify-content: start;
}
.cont img{
    width: 200px;
    height: auto;
    mask-image: linear-gradient(black 80%, transparent);
    filter: drop-shadow(10px 10px 20px #c8dfe2);
}

.cont h1{
    text-align: center;
}

.style-p{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1.5rem;
}

.cont-inf{
    display: flex;
    justify-content: end;
    align-items: center;
}

table {
    display: flex;
    justify-content: center;
}

/* estilos boton de chat */
.chat{
    color: rgba(4, 196, 4, 0.699);
    font-size: 3.5rem;
    position: fixed;
    top: 75%;
    left: 93%;
    z-index: 4;
    text-decoration: none;

}

.chat:hover{
    font-size: 4rem;
}

footer{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 5px groove black; */
    /* background: conic-gradient(black,#142157 ,#2898ee,#15297c ); */
    background: conic-gradient(black 0%,#142157 25% ,#2898ee 50%,#15297c 75%,black 100%);
}

.style-logos-footer{
    margin-right: 40px;
}

#logo-foot1{
    color: rgb(181, 38, 181);
}

#logo-foot2{
    color: rgba(199, 180, 250, 0.803);
}

#logo-foot3{
    color: rgb(246, 246, 246);
}

#logo-foot4{
    color: rgb(23, 135, 34);
}